body {
  margin: 0;
  height: 100vh;
  background: rgba(15, 23, 42, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  width: 320px;
  padding: 25px;
  background: #020617;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  text-align: center;
}

h1 {
  color: #38bdf8;
  font-size: 24px;
}
